<%= error_messages_for 'email_filter' %>

<div class="box">
  <p>
    <%= label_tag :name do %>
      <%= l(:field_name) %><span class="required"> *</span>
    <% end %>
    <%= f.text_field :name, :size => 50 %>
  </p>
  <p>
    <%= label_tag :active do %>
      <%= l(:setting_email_filter_active) %>
    <% end %>
    <%= hidden_field_tag 'email_filter[active]', false %>
    <%= f.check_box :active, {}, true, false %>
  </p>
  <p>
    <%= label_tag :project_id do %>
      <%= l(:setting_email_filter_target_project) %><span class="required"> *</span>
    <% end %>
    <% @projects = Project.all %>
    <% if @projects.length > 0 %>
      <%= f.select :project_id, @projects.map{|t| [t.name, t.id]} %>
    <% else %>
      <%= l(:setting_email_filter_no_project) %>
    <% end %>
  </p>
  <p>
    <%= label_tag :operator do %>
      <%= l(:setting_email_filter_conditions) %><span class="required"> *</span>
    <% end %>
    <%= f.select :operator, {l(:setting_email_filter_all) => "and", l(:setting_email_filter_any) => "or"} %>
    <%= l(:text_email_filter_of_the_following_conditions_are_met) %>
  </p>
  <div id="conditions" style="padding-left: 180px;">
    <table>
      <%= f.fields_for :email_filter_conditions, include_id: false do |condition| %>
        <tr>
          <td>
            <%= condition.select :email_field, {l(:setting_email_filter_from) => "from",
                                             l(:setting_email_filter_to)      => "to",
                                             l(:setting_email_filter_cc)      => "cc",
                                             l(:setting_email_filter_subject) => "subject",
                                             l(:setting_email_filter_body)    => "body"} %>
          </td>
          <td>
            <%= condition.select :match_type, {l(:setting_email_filter_include) => "include",
                                           l(:setting_email_filter_not_include) => "not_include"} %>
          </td>
          <td><%= condition.text_field :match_text, size: 30 %></td>
          <td class="buttons">
            <a class="icon icon-add" href=""></a>
            <a class="icon icon-del" href=""></a>
          </td>
          <%= condition.hidden_field :id %>
          <%= condition.hidden_field :_destroy %>
        </tr>
      <% end %>
    </table>
  </div>
</div>

